{% extends "layout.html" %}

{% block content %}
<div class="well">
   <h3>Welcome to index</h3>
   <p>This project is a demonstration of Sequelize model association through a Postgres DB. Model relationship is as follows:</p>
   <p><code>LineItem.belongsTo(Order);</code></p>
   <p><code>LineItem.belongsTo(Product);</code></p>
   <p><code>Order.hasMany(LineItem, {as: 'item'});</code></p>
   <hr>
   <p><em>Here's what's currently in your database:</em></p>
  <p><strong>Products</strong></p>
  <ul>
      {% for prod in block.products %}
      <li>
          {{ prod.name }}
      </li>
      {% endfor %}
  </ul>
  <p><strong>Orders</strong></p>
  <ul>
      {% for order in block.orders %}
      <li>
          {{ order.id }}<br>
          {{ order.isCart }}<br>
          {{ order.address }}<br>
      </li>
      {% endfor %}
  </ul>
  <p><strong>LineItems</strong></p>
  <ul>
      {% for item in block.lineitems %}
      <li>
          id: {{ item.id }}<br>
          quantity: {{ item.quantity }}<br>
          orderId: {{ item.orderId }}<br>
         productId: {{ item.productId }}<br>
      </li>
      {% endfor %}
  </ul>
 </div>
<!-- <div class="well">
       <form action="/users" method="post">
    <div class="form-group">
      <input class="form-control" name="name" placeholder="name">
    </div>
    <button class="btn btn-primary btn-xs">Add User</button>
  </form>
</div>
 -->
{% endblock %}
