{% extends "layout.html" %}

{% block content %}
<div class="col-xs-12 col-sm-8">
    <!-- error block -->
    {% if error %}
    <div class='container'>
      <div class="alert alert-danger">
        <strong>Error:</strong> {{ error }}<br>
      </div>
    </div>
    {% endif %}
<!-- Left side -->
<!-- Product List -->
  <h3>Products</h3>
   <p><em>Here's what's currently in your stock:</em></p>
  <ul class="list-group">
    {% for prod in viewModel.products %}
    <li class="list-group-item">
      <form action="/orders/{{ prod.id }}/lineItems" method="POST">{{ prod.name }}<button class="btn btn-primary pull-right">Add to Cart</button><input type="hidden" value="{{ prod.id }}" name="productId"></form>
    </li>
    {% endfor %}
  </ul>
<!-- Welcome text -->
  <div class="well">
    <p>This project is a demonstration of Sequelize model association through a Postgres DB. Model relationship is as follows:</p>
    <p><code>LineItem.belongsTo(Order);</code></p>
    <p><code>LineItem.belongsTo(Product);</code></p>
    <p><code>Order.hasMany(LineItem);</code></p>
  </div>
</div>
<!-- end left -->
<!-- Right side -->
{% if (viewModel.lineItems) or (viewModel.pastOrders) %}
<div class="col-xs-12 col-sm-4">
  {% if viewModel.lineItems.length > 0 %}
<!-- Cart -->
  <div>
    <h3>Your Cart</h3>
    <div class="well">
    {% for line in viewModel.lineItems %}
      <li class="list-group-item">{{ line.product.name }}<span class="label label-default pull-right">{{ line.quantity }}</span><form action="/orders/{{ viewModel.cart.id }}/lineItems/{{ line.id }}?_method=DELETE" method="POST"><button class="btn btn-warning">Remove From Cart</button></form></li>
      {% endfor %}
      <hr>
        <form action="/orders/{{ viewModel.cart.id }}?_method=PUT" method="POST"><input type="hidden" name="isCart" value="false">
        <hr>
        <div class="form-group"><label>Address</label><input class="form-control" name="address">
        </div><button class="btn btn-primary">Place Order</button></form>
    </div>
  </div>
  {% endif %}
<!-- Past Orders -->
  {% if viewModel.pastOrders.length > 0 %}
  <div>
  <h3>Your Orders</h3>
  <ul class="list-group">
  {% for order in viewModel.pastOrders %}
    <li class="list-group-item"><strong>Order:</strong> {{ order.address }}
      <ul class="list-group">
        {% for line in order.lineItems %}
        <li class="list-group-item">{{ line.product.name }}<span class="label label-default pull-right">1</span>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
</div>
{% endif %}

 </div>
{% endblock %}
