<!DOCTYPE html>
<html>
<head>
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Acme Cart</title>
</head>
<body>
<div class="container">
  <h1>Acme, the Cart Version!</h1>
<div class="row">
  {% block content %}
    Whoops! Something Didn't Load Properly
  {% endblock %}
  </div>
</div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">App written  by Mike Kerslake with node, sequelize, express and <em>way</em> too many cups of coffee.</p>
    </div>
  </footer>
</body>
</html>
